<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://www.kindpng.com/picc/m/114-1141562_pc-logo-png-transparent-png.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span>Personnal Computer Since 1984</span>
  </a>
  <a class="btn btn btn-outline-success m-2 ml-auto" routerLink="/pc/add" > Ajouter un PC</a>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" aria-controls="dropdown-basic">
      Gerer les marques <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#"> Voir toutes les marques </a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/marque/add">Ajouter une marque</a></li>
    </ul>
  </div>
</nav>



